/* checkbox.css */
.cell {
    border: 1px solid gray;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .black {
    background-color: black;
  }
  
  .white {
    background-color: white;
  }
  
  .red {
    background-color: red;
  }

  .chess{
    display: grid;
    grid-template-columns: repeat(8, 50px) ;
  }
  