/* Styles for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #93f48f;
  padding: 10px;
  color: #0a0909;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* Additional styles for responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px (typical for phones) */
  body {
    padding: 20px; /* Add some padding for better spacing */
  }
}

/* Style for the heading */
.heading {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold if desired */
  text-align: center; /* Center the text horizontally */
  background-color: #f64d27; /* Background color for the heading */
  color: #fff; /* Text color */
  margin-bottom: 40px;
  padding: 20px; /* Add padding for spacing */
}

.para{
  font-size: 20px; /* the font size  */
  text-align: center; /* Center the text horizontally */
  color: #0b0101; /* Text color */
  margin-bottom: 20px;
  padding: 20px; /* Add padding for spacing */
}



